html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  background: #23272a;
  color: #fff;
}

.header__logo {
  display: flex;
  margin: 0 auto 0 0;
  padding: 0 1.4em;
  color: inherit;
  transform: translateX(-1.8em);
  transition: color 400ms;
}

.header__logo:hover {
  color: rgb(215, 215, 215);
}

.logo__image {
  height: 3.2em;
  margin: 0.6em 0.5em 0 0;
}

.logo__text {
  margin-top: 0.6em;
  font-family: "Tomorrow", "Rubik", Arial, Helvetica, sans-serif;
  font-size: 1.4em;;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1em;
}

.navbar-burger {
  margin: 0 auto 0 0;
  height: 4.5em;
  width: 4em;
}

.navbar-burger span {
  background: #fff;
}

/*

#title  {
  text-align: center;
}

















/*navbar styling */

/*

nav {
  background: #2ba0db;
}

nav ul {
  font-size: 0;
}

nav ul li {
  display: inline-block;
  position: relative;
}

nav ul li a {
  color: #fff;
  display: block;
  font-size: 14px;
  padding: 15px 14px;
  transition: 0.3s linear;
}

nav ul li:hover {
  background: #126d9b;
}

nav ul li ul {
  border-bottom: 5px solid #2ba0db;
  display: none;
  position: absolute;
  width: 250px;
}

nav ul li ul li {
  border-top: 1px solid #444;
  display: block;
}

nav ul li ul li:first-child {
  border-top: none;
}

nav ul li ul li a {
  background: #373737;
  display: block;
  padding: 10px 14px;
}

nav ul li ul li a:hover {
  background: #126d9b;
}

*/